<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rick and Morty</title>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="item in items" v-bind:key="item.id">
                {{ item.name }}
            </li>
        </ul>
        
        <button class="btn btn-link" v-if="pageInfo.prev" v-on:click="fetchCharacters(pageInfo.prev)" :disabled="loading">Prev</h1>
        <button class="btn btn-link" v-if="pageInfo.next" v-on:click="fetchCharacters(pageInfo.next)":disabled="loading">Next</h1>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        const options = {
            data() {
                return {
                    loading: false,
                    items: [],
                    pageInfo: {}
                }
            },
            methods: {
                fetchCharacters(url) {
                    this.loading = true;
                    let self = this;
                    
                    axios.get(url)
                        .then(function (response) {
                            self.items =  response.data.results;
                            self.pageInfo = response.data.info;
                        })
                        .catch(function (error) {
                            alert("Something went wrong. Please check your internet connection.");
                            console.log(error);
                        })
                        .then(function () {
                            self.loading = false;
                        });
                }
            }
        }

        const vm = Vue.createApp(options).mount('#app')
        vm.fetchCharacters('https://rickandmortyapi.com/api/character')
    </script>
</body>

</html>